[submodule "externals/CTranslate2"]
	path = externals/CTranslate2
	url = https://github.com/OpenNMT/CTranslate2
[submodule "externals/Tokenizer"]
	path = externals/Tokenizer
	url = https://github.com/OpenNMT/Tokenizer
