[submodule "CTranslate2"]
    path = "externals/CTranslate2"
    url = https://github.com/OpenNMT/CTranslate2.git

[submodule "Tokenizer"]
    path = "externals/Tokenizer"
    url = https://github.com/OpenNMT/Tokenizer.git